body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FAFAFA;
}

h1, h2, h3, h4 {
	font-family: 'Nunito', sans-serif;
}

/* ==========================================================================
   HEADER STYLES
   ========================================================================== */

.Header-navLogo, 
.Header-navList, 
.Header-listItem,
.Header-navUser,
.Header-userSet,
.Header-navUserEdit,
.Header-userSetName{
	display: inline-block;
	vertical-align: top;
}

.Header-navLogo,
.Header-navList,
.Header-navUser{
	margin-top: 1.6rem;
}

.Header-navLogo{
	margin-left: 2.5rem;
}

.Header-navLogo a{
	color: #40424E;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	font-weight: bold;
}
.Header-navLogoIcon{
	margin: -0.4rem;
}
.Header-navLogoIcon svg{
	height: 0.8rem;
	width: 1rem;
	margin-bottom: 2px;
	fill: #D15A5E;
}
.Header-navList{
	list-style-type: none;
	margin-left: 10rem;
	margin-right: 10rem;
}
.Header-navList svg,
.Header-navUser svg{
	fill: #A2A2A4;
}
.Header-navUser{
	margin-left: 5rem;
	margin-right: 2rem;
}
.Header-navUserEditIcon{
	margin-left: -0.5rem;
}
.Header-navUserEditIcon svg{
	height: 0.9rem;
	width: 1.5rem;
	margin-bottom: 0.44rem;
}
.Header-listItem {
	vertical-align: top;
	margin: 0 1.3rem ;
}
.Header-listItem svg{
	height: 1.2rem;
	width: 1.5rem;
}
.Header-userSetCircle{
	background: #FAFAFA;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	height: 12px;
	margin: -0.2rem 0 0 1.3rem;
	position: absolute;
	width: 12px;
	z-index: 1;
}
.Header-userSetCircleTwo{
	background: #D15A5E;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	height: 6px;
	margin-left: 1.5rem;
	width: 6px;
	position: absolute;
	z-index: 2;
}
.Header-userSetImage{
	border-radius: 50%;
	width: 1.875rem;
}
.Header-userSetName,
.Header-navUserEdit{
	vertical-align: bottom; 
}
.Header-userSetName{
	margin: 0 0.5rem 0.1rem; 
} 
.Header-userSet{
	margin: 0;
	height: auto;
}
.Header-navDoubleo{
	color: #D15A5E;
	margin: 0 -0.3rem;
}